BasedOnStyle: Chromium
IndentWidth: 2

UseTab: Never
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
AlignAfterOpenBracket: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: true
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   false
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
BreakBeforeBraces: Custom
